.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.nav {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
  padding: 15px;
  /* font-size: 2em; */
}

.nav a {
  color: white;
  text-decoration: none;
}

.name {
  margin-left: 300px;
}

.options {
  width: 400px;
  display: flex;
  justify-content: space-between
}

.home {
  display: flex;
  justify-content: center;
}

.homeBox1 {

  width: 400px;
  height: 500px;
  margin-top: 15%;
}

.homeBox2 {

  width: 400px;
  height: 400px;
  margin-top: 10%;
}

.image {
  width: 100%;
  height: 100%;
}

.heading {
  font-size: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.role {
  color: blue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.education,
.contact,
.skills {
  margin-top: 5%;
  color: blueviolet
}